nav a {
    text-decoration: none !important;
    color: black;
    font-weight: 600;
}

.githubRepo {
    width: 40px;
}

.btn {
    border: none;
    border-radius: 8px;
    background-color: #f3fcf0;
}

.btn:hover {
    background-color: #fae49d !important;
}

.spacer {
    flex: 1;
}