<div class="text-center">
    <div class="row">
        <div class="my-2 py-3 mx-auto custom-isolatedContainer col-lg-5 custom-color-beige">
            <demo-component></demo-component>
        </div>
        <div class="my-auto py-3 mx-auto custom-isolatedContainer col-lg-5 custom-color-beige">
            <app-counter></app-counter>
        </div>
    </div>
    <div class="my-2 mx-3 py-3 custom-isolatedContainer">
        <app-structural-directives></app-structural-directives>
    </div>

</div>