/* You can add global styles to this file, and also import other style files */

body {
    background-color: beige !important;
    width: auto;
}

.nav-custom {
    background-color: #ffd23f !important;
    border-radius: 8px;
}

.btn-nav-custom {}