/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
body {
    font-family: "IBM Plex Sans", sans-serif;
    background-color: beige !important;
    width: auto;
}

.nav-custom {
    background-color: #ffd23f !important;
    border-radius: 8px;
}

.btn-nav-custom {}