<nav class="p-3 mx-5 my-2 mx-auto nav-custom ">
    <div class="d-flex flex-row" id="">
        <div class="p-2  mx-1 btn"><a class="px-2" routerLink="/Home">Home</a></div>
        <div class="p-2  mx-1 btn"><a class="px-2" routerLink="/About">About</a></div>
        <div class="p-2  mx-1 btn"><a class="px-2" routerLink="/Projects">Projects</a></div>
        <div class="p-2  mx-1 btn"><a class="px-2" routerLink="/Qualifications">Qualifications</a></div>
        <div class="p-2  mx-1 btn"><a class="px-2" routerLink="/Contact">Contact</a></div>
        <div class="spacer"></div>

        <div class="p-2  mx-1 btn githubRepo">
            <a href="https://github.com/AnanduR32/Portfolio" class="">
                <img src="../../../assets/images/github.svg" alt="github repo">
            </a>
        </div>
    </div>

</nav>